@model IEnumerable<Animals.Models.Pet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            Кличка:
        </th>
        <th>
            Тип:
        </th>
        <th>
            Порода:
        </th>
        <th>
            Возраст на момент приема:
        </th>
        <th>
            Возраст:
        </th>
        <th>
            Пол:
        </th>
        <th>
            Кастрация:
        </th>
        <th>
            Вакцинация:
        </th>
        <th>
            Дегельметизация:
        </th>
        <th>
            Паразиты:
        </th>
        <th>
            Дата:
        </th>
        <th>
            Имя доктора:
        </th>
        <th>
            Имя хозяина:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @{

                    DateTime today = DateTime.Today;

                    if (item.BirthDate != null)
                    {
                        int age = today.Year - item.BirthDate.Value.Year;

                        if (item.BirthDate > today.AddYears(-age))
                        {
                            age--;
                        }

                        <text> @age </text>
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Castration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deworming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment__parasites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
