@model Animals.Models.Owner

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить клиента со всеми питомцами?</h3>
<div>
    <h4>Клиент</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sername)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Дата регистрации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Номер п/п
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>


    @foreach (var p in Model.Pets)
    {
        <dl>
            <dt>
                Кличка
            </dt>
            <dd>
                @p.Nickname
            </dd>
            <dt>
                 Тип
            </dt>
            <dd>
                @p.PType
            </dd>
        </dl>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
