@model IEnumerable<Animals.Models.Owner>

@{
    ViewBag.Title = "Пациенты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Клиенты</h2>

<p>
    @Html.ActionLink("Добавить клиента", "Create")

    @using (Html.BeginForm())
    {
        <table>

            <tr>
                <td>
                    Фамилия:
                </td>
                <td>
                    @Html.TextBox("searchSername")
                </td>
                <td>
                    Адрес:
                </td>
                <td>
                    @Html.TextBox("searchAddress")
                </td>
                <td>
                    Телефон:
                </td>
                <td>
                    @Html.TextBox("searchPhone")
                </td>
            </tr>

            <tr>
                <td>
                    Кличка:
                </td>
                <td>
                    @Html.TextBox("searchPet")
                </td>
                <td>
                    Порода:
                </td>
                <td>
                    @Html.TextBox("searchBreed")
                </td>
                <td>
                    Номер:
                </td>
                <td>
                    @Html.TextBox("searchNumber")
                </td>
            </tr>
            <tr>
                <input type="submit" value="Поиск" />
            </tr>

        </table>

    }
</p>
<table class="table">
    <tr>
        <th>
            №:
        </th>
        <th>
            Имя:
        </th>
        <th>
            Фамилия:
        </th>
        <th>
            Телефон:
        </th>
        <th>
            Адрес:
        </th>
        <th>
            Email:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
