@model Animals.Models.Surgical_treatment

@{
    ViewBag.Title = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы точно хотите удалить анамнез?</h3>
<div>
    <h4>Хирургическое вмешательство</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Текст
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
           Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Details", "Pets", new { id = @ViewBag.petId }, null)
        </div>
    }
</div>
